{
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": { "tabWidth": 2 }
    }
  ]
}
